.tasks-grid {
    width: 100%;
}

.tasks-grid th, .tasks-grid td {
    padding: 5px;
    text-align: center;
}

.tasks-grid .close {
    float: unset;
}

.new-task #new_task_form {
    display: inline-block;
}

.new-task #new_task_form.hidden {
    display: none;
}
